* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}



/* Red: #FF0000  || Silver: #C0C0C0 || colour: #454545  ||  colour: #333 */

/* .container {
            width: 80%;
            margin: 0 auto;
            overflow: hidden;
        } */

/*--------------------------------------------- Header Part ------------------------------------*/
header {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #c6b0b0;
    /* background-color: #333; */
    color: #fff;
    padding: 0 0;
}

header .container1 {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: safe;
}

header .container1 .logo img {
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    /* background-color:#C0C0C0;    */
}

header .container1 .logo img:hover {
    background-color: #FF0000;
}

header nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    /* background-color: aquamarine; */

}

header nav ul li {
    display: inline;
    margin-right: 20px;
    /* margin: 20px ; */
    padding-left: 10px;
    padding: 10px;
    /* background-color:#454545; */
}

header nav ul li a {
    /* padding-left: 10px; */
    padding: 20px;
    text-decoration: none;
    color: #fff;
    /* background-color: #333; */
    background-color: #454545;
    /* border-radius: 10%; */
}

header nav ul li a:hover {
    background-color: #FF0000;
}

header .container1 form {
    margin-top: 30px;
}

header .container1 input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

header .container1 button {
    padding: 10px;
    font-size: 16px;
    background-color: #454545;
    color: #fff;
    cursor: pointer;
}

header .container1 button:hover {
    background-color: #FF0000;
}

header .container1 .login {
    height: 80px;
    /* border: 1px solid black; */
    /* padding: 20px; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #454545; */
}

header .container1 .login a {
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    /* border: 1px solid black; */
    background-color: #454545;
    /* border-radius: 10%; */
}

header .container1 .login a:hover {
    background-color: #FF0000;

}

/*------------------------------------ Hero Part ----------------------------------------- */
#hero {
    background: url("/PICS/Pune_Posh_area.png") center/cover no-repeat;
    color: #fff;
    /* margin-top: 10px; */
    padding: 250px 100px;
    text-align: center;
}

#hero .container2 {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;

}

#hero h2 {
    font-size: 45px;
}

#hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

#hero #sale,
#hero #rent {
    /* position: absolute; */
    /* top: 50%; */
    width: 120px;
    height: 50px;
    /* transform: translateY(-50%); */
    /* border-radius: 5px; */
    background-color: #454545;
    color: #fff;
    cursor: pointer;
}

#hero #sale {
    /* left: 40%; */
}

#hero #rent {
    /* right: 40%; */
}

#hero #sale:hover {
    background-color: #FF0000;
}

#hero #rent:hover {
    background-color: #FF0000;
}




/*----------------------------------  Featured-Properties --------------------------------*/
#featured-properties {
    background: #C0C0C0;
    /* background: url("/PICS/some.jpg") center/cover no-repeat; */
    padding: 50px 0;
    /* border: 2px solid black; */
}

#featured-properties .container3 {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
#featured-properties .container3 h2
{
    padding-left:400px;
    font-size: 40px;
    /* font-weight: 40px; */
}

.property-card {
    float: left;
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}

.property-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.property-card h3 {
    margin: 10px 0;
}

.property-card a {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.property-card a:hover {
    background-color: #FF0000;
    /* border-radius: 10%; */
}

/* -----------------------------------  Map-Menu Part -----------------------------------*/
#map-menu {
    background: #C0C0C0;
    font-weight: bold;
    /* border: 2px solid black; */
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#map-menu h1
{
    font-size: 50px;
    
}

#map-menu .container4 {

    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

/* --------------------- card-map -------------------------- */
#map-menu .container4 .card-map {
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map-menu .container4 .card-map h3 {
    padding: 10px;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

#map-menu .container4 .card-map img {
    width: 300px;
    object-fit: fill;
}

#map-menu .container4 .card-map p {
    padding: 15px;
    color: #000;
    font-weight: bold;
}

#map-menu .container4 .card-map a {
    display: inline-block;
    background: #333;
    color: #fff;
    margin-bottom: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

#map-menu .container4 .card-map a:hover {
    background-color: #FF0000;
}


/* ------ map-table ------ */
#map-menu .container4 .map-table {
    background-color: #454545;
    /* border: 1px solid black; */
    width: 350px;
    align-items: center;
}

#map-menu .container4 .map-table h2 {
    height: 100px;
    font-size: 30px;
    padding: 10px;
    /* border: 1px solid #000; */
    /* clip-path: polygon(100% 0, 0 0, 47% 100%); */
    background-color: #FF0000;
}

.map-table table {
    /* border: 1px solid #000; */
    width: 350px;
    border-collapse: collapse;
    color: white;
}

.map-table table tr,
td,
th {
    border: 1px solid #000;
}

.map-table table td,
th {
    text-align: center;
    padding: 5px;
}

th {
    font-size: 20px;
    font-weight: bold;
    background-color: #c6b0b0;
    /* color: white; */
}

table tr {
    background-color: #454545;
    /* color: white; */
}

table tr:hover {
    background-color: #FF0000;
    color: white;
}

table tr:nth-child(odd) {
    background-color: #333;
    /* color: white; */
}



/* --------------------------------    footer  part -------------------------------------*/
footer {
    width: 100%;
    /* height: 500px; */
    background: #454545;
    color: #fff;
    padding: 50px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

footer .fcol {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    /* background-color:black; */

}

footer .fcol .container5 {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    /* border: 1px solid black; */
}

footer .fcol .container5 ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    /* text-decoration: none; */
    color: white;
}

footer .fcol .container5 ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    /* padding: 10px; */
}
footer .fcol .container5 button
{
    background-color:#333;
    color: #FF0000;
}
footer .fcol .container5 button:hover
{
    background-color: #FF0000;
    color: white;
}

footer .fcol .container5 .social-links {
    width: 100%;
    /* border: 1px solid black; */
    /* padding: 10px; */
}

footer .fcol .container5 form {
    margin-top: 20px;
    /* background-color: orange; */
}

footer input[type="email"],
footer button {
    padding: 10px;
    font-size: 16px;
}


footer .fcol .container5 .social-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

footer .fcol .container5 .social-links a img {
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-left: 15px;
    background-color: #C0C0C0;
    border-radius: 20%;
}

footer .fcol .container5 .social-links a img:hover {
    background-color: #FF0000;
}

footer .fcol .rep {
    width: 100%;
    height: 50px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}