* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Red: #FF0000    Silver: #C0C0C0  colour: #454545  */

.wrapper {
    width: 90%;
    min-height: 400px;
    margin: 10px auto;
    /* background-color: #C0C0C0; */
    display: grid;
    /* grid-template-columns: repeat(2, 30%) auto; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 600px 500px 500px 400px;
    gap: 10px;
    grid-template-areas: "header header header"
        "slider slider slider"
        "container1 container1 container1"
        "container2 container2 container2"
        "footer footer footer";
}


/* Styling the header -- logo--menu--search-bar */
header {
    grid-area: header;
    border: #000 solid 1px;
    /* background-color: #a5d6f0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    /* grid-area: logo; */
    background-color: rgb(236, 105, 105);
    border: #000 solid 1px;
}

nav {
    /* grid-area: nav; */
    background-color: rgb(236, 105, 105);
    border: #000 solid 1px;
}


.search-bar {
    grid-area: search-bar;
    background-color: rgb(237, 216, 52);
    border: #000 solid 1px;
}


/* Styling the slider */
.slider {
    grid-area: slider;
    background-color: cadetblue;
    border: #000 solid 1px;
}

.container1 {
    grid-area: container1;
    background-color: blueviolet;
    border: #000 solid 1px;
}

.container2 {
    grid-area: container2;
    background-color: coral;
    border: #000 solid 1px;
}

footer {
    grid-area: footer;
    background-color: crimson;
    border: #000 solid 1px;
}